@page "/sample"
@using SampleBlazorApp.Data

<PageTitle>Sample</PageTitle>
<h1>Sample!!</h1>

<p class="h5">Current total: @total</p>
<div class="form-now">
    <input type="number" @bind="val" class="form-control col-8" />
    <button @onclick="Calc" class="btn btn-primary col">Click</button>
</div>

<p role="status">Current value: @radius</p>
<div>
    <svg x=0 y=0 width=200 height=200>
        <circle cx="100" cy="100" r="@radius" fill="#99f"></circle>
    </svg>
</div>
<div>
    <input type="range" class="form-control" min="0" max="100" @bind="radius" />
</div>

<p class="h3">@message</p>

<EditForm Model="@mydata" OnValidSubmit="@doAction">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        Name
        <InputText id="name" @bind-Value="@mydata.Name" class="form-control" />
    </div>
    <div class="form-group">
        Password
        <InputText type="password" id="password" @bind-Value="@mydata.Password" class="form-control" />
    </div>
    <div class="form-group">
        Mail
        <InputText id="mail" @bind-Value="@mydata.Mail" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">
        Click
    </button>

    <SampleList Items="mydataList" Context="item">
        <ItemTemplate>
            <li class="list-group-item">@item.Name (@item.Mail). </li>
        </ItemTemplate>
    </SampleList>
</EditForm>

@code {
    int val = 0;
    int total = 0;

    void Calc()
    {
        total = 0;
        for (var i = 0; i <= val; i++)
        {
            total += i;
        }
    }

    private int radius = 25;

    private string message = "Please input form:";
    private MyData mydata = new MyData("", "", "");

    void doAction()
    {
        message = mydata.ToString();
    }

    private List<MyData> mydataList = new()
{
        new MyData("Taro", "hoge", "taro@yamada"),
        new MyData("Hanako", "foo", "hanako@flower"),
        new MyData("Sachiko", "bar", "sachiko@happy")
};
}

